* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    background-color:#dbcf97;
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif; /** "Arial Black", Gadget, sans-serif **/
    font-size:350%;
    height:100%;
    margin: auto;
    padding:0px;
    width:100%;
    text-align:center; vertical-align:middle;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

button.normal {
    display: block;
    width: 100%;
    background: #e6e5df;
    background-image: -webkit-linear-gradient(top, #e6e5df, #6a6b60);
    background-image: -moz-linear-gradient(top, #e6e5df, #6a6b60);
    background-image: -ms-linear-gradient(top, #e6e5df, #6a6b60);
    background-image: -o-linear-gradient(top, #e6e5df, #6a6b60);
    background-image: linear-gradient(to bottom, #e6e5df, #6a6b60);
    border-radius: 28px;
    font-family: Arial;
    color: #000000;
    font-size: 70px;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
}

button.addDropdown{
  margin-top: 15px;
  display: block;
  width: 100%;
  background: #e6e5df;
  background-image: -webkit-linear-gradient(top, #e6e5df, #6a6b60);
  background-image: -moz-linear-gradient(top, #e6e5df, #6a6b60);
  background-image: -ms-linear-gradient(top, #e6e5df, #6a6b60);
  background-image: -o-linear-gradient(top, #e6e5df, #6a6b60);
  background-image: linear-gradient(to bottom, #e6e5df, #6a6b60);
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 35px;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  position: relative;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.HeaderImage {
    content: url('../img/myFieldsLogo_large.png');
    margin: auto;
    text-align:center;
    vertical-align:middle;
    height: 40%;
    width: 40%;
}

/** To add space between elements horizontally **/
.dividerHorizontal{
    width:5px;
    height:auto;
    display:inline-block;
}

/** To add space between elements vertically (wrap this around an element) **/
.dividerVertical {
	padding-bottom: 15px;
    width:auto;
}

.LoginPage{
    padding: 20px;
}

.loginInput{
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding-bottom: 10px;
}

input{
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding-bottom: 10px;
}

input[type=checkbox]{
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  padding: 10px;
}

table.normal {
    margin-left: auto;
    margin-right: auto;
}

table.switchCase{
  width: 100%;
}

table.definedWidth{
    width: 80%;
}

table.space{
    border-collapse: separate;
    border-spacing: .25em .5em;
}

td.space{
    padding-bottom: .5em;
}

td.leftAlign{
    text-align: left;
}

td.rightAlign{
    text-align: right;
    padding-right: 15px;
}

td.top {
	vertical-align: top;
}

td.bottom{
	vertical-align: bottom;
}

div.switchLabel{
  column-width: 25%;
}

div.center{
  display: block;
  margin: auto;
}

textarea {
    border: 10px solid rgba(0,0,0,0.1);
    padding: 8px 10px 10px 10px;
    outline: 0;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    resize: none;
}

a:link, a:visited{
	color: #7799d1;
	text-decoration: none;
}

.form-control {
    display: inline-block;
    width: 115%;
    height: 115%;
    padding: 6px 12px;
    font-size: 100%;
    line-height: 100%;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}